[Unit]
Description=consul agent
Requires=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/sysconfig/consul
EnvironmentFile=-/etc/environment
Environment=GOMAXPROCS=2
Restart=on-failure
ExecStart=/usr/bin/consul agent -join=${SERVER_IP} -data-dir=/tmp/consul -node=${NODE_NAME} -bind=${PRIVATE_IP} -recursor=8.8.8.8 -config-dir=/etc/consul.d
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target